Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.ignore
__pycache__
*.pyc
events.out.tfevents.*
checkpoint*
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.code-workspace
*.suo
*.xcodeproj
*.xcworkspace